env
env311
.venv
venv

target
build
dist

dbt_packages

__pycache__
.pytest_cache
.mypy_cache

*.pyc
*.pyo
*.pyd
*.swp

.git
.gitignore
.DS_Store

.vscode
.idea

data/
logs/

.localstack/

.env
.env.*

!.env.example

*.parquet
*.csv
*.ods
*.duckdb