AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
LOCALSTACK_ENDPOINT_URL=http://localstack:4566
JAVA_HOME=/usr/lib/jvm/default-java
HADOOP_HOME=/hadoop
BUCKET_NAME=anatel-lake
S3_PREFIX=silver/anatel_long
